
# Validated versions to prevent 'malloc' and 'SSL' crashes
numpy
protobuf<5
grpcio>=1.64.0
google-api-python-client>=2.100.0
pandas>=2.0.0
# Existing
google-auth
groq
python-dotenv
streamlit
watchdog
plotly
google-auth-oauthlib
beautifulsoup4
st-gsheets-connection
notificationapi-python-server-sdk
pypdf
edge-tts
python-docx
duckduckgo-search
lxml
openpyxl
